body {
    background: #121212;
    color: #e0e0e0;
    font-family: 'Roboto Mono', monospace;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#contact {
    background: rgba(34, 34, 34, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    transition: background 0.3s ease-in-out;
}

#contact h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #00e676;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 0 0 8px #00e676;
    border-bottom: 2px solid #00e676;
    padding-bottom: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contact-form label {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #e0e0e0;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #2c2c2c;
    color: #e0e0e0;
    font-size: 1em;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contact-form input[type="submit"] {
    background-color: #00e676;
    color: #121212;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
}

.contact-form input[type="submit"]:hover {
    background-color: #00c853;
    transform: scale(1.05);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #888;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #00e676;
    background: #333;
    color: #e0e0e0;
}

/* Media Queries */
@media (max-width: 768px) {
    .contact-form {
        margin: 150px 10px 30px;
        padding: 20px;
    }

    #contact h3 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .contact-form {
        margin: 150px 10px 30px;
        padding: 20px;
    }

    #contact h3 {
        font-size: 1.5em;
    }
}
